* {
    margin: 0px;
    padding: 0px;
}
.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: goldenrod;
    padding-top: 10px;
    /* margin-top: 1px; */
    position: relative;
    z-index: 1000;
    border-top: solid black 1px;
}
.side-nav {
    display: flex;
    list-style: none;
}
.Navbar h5 {
    margin-left: 15px;
}
.side-nav li {
    margin-right: 15px;
}
.fa-bars 
{
    display: none;
    margin-right: 15px;
}
.drop-down 
{
    background-color: rgb(4, 3, 4);
    margin-top: 1px;
    display: flex;
    display: none;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 0px;
}
.drop-down li:hover
{
    opacity: 0.5;
}
.drop-down li {
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 25px;
    margin-bottom: 25px;
    color: white;
}
.fa-x
{
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    border: solid 1px white;
    padding: 3.5px;
}
.fa-x:hover
{
    opacity: 0.5;
}
@media screen and (max-width:600px) {
    .fa-bars {
        display: block;
    }
    .side-nav {
        display: none;
    }
    
}

